div#user-dialog(class="modal" tabindex="-1" role="dialog")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal")
                    span &times
                h4(class="modal-title") User
            div(class="modal-body")                      
                form(role="form")
                    div(class="form-group")
                        label(style="width:100%") Avatar:
                        img#user-dialog-avatar
                    div(class="form-group")
                        input#user-dialog-file(type="file" accept="image/*") 
                    input(type="hidden" name="avatar")   
                    div(class="form-group")
                        label(style="width:100%") First name:
                            input(class="form-control" style="font-weight:normal" type="text", name="firstName" placeholder="first name")                     
                    div(class="form-group")
                        label(style="width:100%") Last name:
                            input(class="form-control" style="font-weight:normal" type="text", name="lastName" placeholder="last name")                     
                    div(class="form-group")
                        div(style="font-weight:bold") Role:
                        div#user-dialog-roles(style="margin-bottom:12pt")
                    div(class="form-group")
                        div(style="font-weight:bold") Dojos:
                        div#user-dialog-dojos(style="margin-bottom:12pt")                   
                    div(class="form-group")
                        label(style="width:100%") Email:
                            input(class="form-control" style="font-weight:normal" type="email", name="email" placeholder="email") 
                    div(class="form-group")
                        label(style="width:100%") Password:
                            input(class="form-control" style="font-weight:normal" type="text", name="password" placeholder="password")                     
            div(class="modal-footer")
                button(type="button" class="btn btn-danger pull-left" data-dismiss="modal" value="remove") Delete
                button(type="button" class="btn btn-primary" data-dismiss="modal" value="ok") OK
                button(type="button" class="btn btn-default" data-dismiss="modal" value="cancel") Cancel

script.

    function UserDialog() {
        
        var self = DataDialog('user');
 
        $('#user-dialog').on('show.bs.modal', function (e) {
            var src = $('input[name="avatar"]').val();
            $('#user-dialog-avatar').attr('src', src);
        });

        $('#user-dialog').on('hide.bs.modal', function (e) {
            var src = $('#user-dialog-avatar').attr('src');
            $('input[name="avatar"]').val(src);
        });

        $('#user-dialog-file').on('change', function(changed) {
            var reader = new FileReader();
            reader.onload = function (loaded) {
                var src = loaded.target.result;
                $('#user-dialog-avatar').attr('src', src);
             };
            var file = changed.target.files[0];
            reader.readAsDataURL(file);
        });

        self.load = function(callback) {
            data_gateway = DataGateway('dojo');
            data_gateway.get(function (err, data) {
                var divs = [];
                $.each(data, function (i, dojo) {
                    var label = $('<label/>');
                    var input = $('<input/>').attr({
                        type: 'checkbox',
                        name: 'dojos[]', 
                        value: dojo._id
                    });
                    label.append(input);
                    label.append(dojo.name);
                    var div = $('<div/>')
                        .addClass('checkbox');
                    div.append(label);
                    divs.push(div);
                });
                $(self.id + '-dojos').empty().append(divs);
            });
            var roles = [ 
                "Administrator", 
                "Champion", 
                "Mentor" 
            ];
            var divs = [];
            $.each(roles, function (i, role) {
                var label = $('<label/>');
                var input = $('<input/>').attr({
                    type: 'radio',
                    name: 'roles[]', 
                    value: role
                });
                label.append(input);
                label.append(role);
                var div = $('<div/>')
                    .addClass('radio');
                div.append(label);
                divs.push(div);
            });
            $(self.id + '-roles').empty().append(divs);
            data_gateway = DataGateway('role');
            data_gateway.get(function (err, data) {
            });
            callback();
        }        
        return self;
    }

