extends layout

block content

    div(style="padding-bottom:10pt")
        img(src="#{user.avatar}")

    div
        p #{user.firstName} #{user.lastName}

    div
        a(class="btn btn-default" style="margin-bottom:16pt" href="/sign_out" role="button") Sign out

    div#user-list(class="panel panel-default")
        div(class="panel-heading")
            div(role="button" data-toggle="collapse" href="#user-list-collapse" aria-expanded="true" aria-controls="user-list-collapse")
                | Users
        div(id="user-list-collapse" class="panel-collapse collapse in")
            div(class="panel-body")
                button(type="button" class="btn" name="add") Add
            div#user-list-items(class="list-group")
                     
    div#dojo-list(class="panel panel-default")
        div(class="panel-heading")
            div(role="button" data-toggle="collapse" href="#dojo-list-collapse" aria-expanded="true" aria-controls="dojo-list-collapse")
                | Dojos
        div(id="dojo-list-collapse" class="panel-collapse collapse in")
            div(class="panel-body")
                button(type="button" class="btn" name="add") Add
            div#dojo-list-items(class="list-group")

    div#avatar-list(class="panel panel-default")
        div(class="panel-heading")
            div(role="button" data-toggle="collapse" href="#avatar-list-collapse" aria-expanded="true" aria-controls="avatar-list-collapse")
                | Avatars
        div(id="avatar-list-collapse" class="panel-collapse collapse in")
            div(class="panel-body")
                button(type="button" class="btn" name="add") Add
            div#avatar-list-items(class="list-group")
            
    include ./parts/avatar_dialog

    include ./parts/dojo_dialog

    include ./parts/user_dialog

    script(src='/dry-layers/data_gateway.js')
    script(src='/dry-layers/dialog.js')
    script(src='/dry-layers/list.js')
    script.
      
        $(document).ready(function () {

            var list = List('avatar', AvatarDialog());
            list.getItemText = function(data) {
                return data.name;
            }
            
            list = List('dojo', DataDialog('dojo'));
            list.getItemText = function(data) {
                return data.name;
            }
           
            list = List('user', UserDialog());
            list.getItemText = function(data) {
                return data.firstName + ' ' + data.lastName;
            }
            list.validate = function(data, callback)  {
                data.username = data.email;
                callback(null, data);
            }
        });


