extends layout

block content
    
    h1= title
    
    h2 User Roles
    p
        a(href='/administrator') Administrator
    p
        a(href='/champion') Champion
    p
        a(href='/mentor') Mentor
    p
        a(href='/ninja') Ninja

