extends layout

block content
    
    h1= title
    
    h2 User Roles
    p
        a(href='/administrator') Administrator
    p
        a(href='/champion') Champion
    p
        a#mylink(href='#') Administrator (sidebar)

    script.

        $(document).ready(function () {

            $('#mylink').click(function () {
                event.preventDefault();
                window.open("/administrator", "Administrator - CoderDojo", "menubar=no,"
                    + "toolbar=no," 
                    + "location=no," 
                    + "directories=no," 
                    + "status=no,"
                    + "scrollbars=no,"
                    + "resizable=no,"
                    + "dependent,"
                    + "width=320,"
                    + "height=640,"
                    + "left=0,"
                    + "top=0");
            });

        });


