doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    header
        div
        | Welcome to CoderDojo
    section
        block content
    footer
        | By the 2015 CITS555X Team from The Unversity of Western Australia
        br
        | Source available from: https://github.com/James-Patrick/RemoteDojo/