#login-div 			{margin: 0 auto;background-color:#FFCC66;margin-top: 10%;width: 500px;padding:10px;border-radius: 5px;}	
.float-left 		{float:left;}
.float-right		{float: right;}
.clear				{clear: both;}
.input-elements		{width:300px !important;padding:5px;text-align:center;}
.option-element		{width: 284px !important;padding:5px;text-align:center;} 
.form-element		{padding:3px;}
select 				{text-align:center;}
label 				{padding: 5px}
#register_submit 	{width:45%;padding:5px;}
#register_reset 	{width:45%;padding:5px;}
.padding-rt {padding-right:4px;}
.margin-rt-10 {margin-right:10px;}
.padding-lt {padding-left:4px;}
.padding-lt-20 {padding-left: 20px;}
.panel,.panel-primary,.panel-heading{border-radius: 0px;border:none;}
.padding-10			{padding:10px;}
span.glyphicon-menu-down,
span.glyphicon-home, { font-size: 2.7em;padding:4px;}
.btn 				{border-radius: 0}
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='file']	{border-radius: 0}

#chats{z-index:-1} /* In firefox the chats panel will overlap with the signout button, blocking it; hence the z-index must be set. */

/*NEW CODE ADDED*/
@media (min-width: 992px) { 
	#chats{position:absolute;top:50px;right:10px;}
	#screenBox2 {position:absolute;top:0px; width:190%;right:105%;}
	#screenBox {position:absolute;top:10%; width:190%;height:auto;right:105%;}
}

@media (min-width: 768px) and (max-width: 992px){
	#chats{position:absolute;top:50px;right:10px;}
	#screenBox2 {position:absolute;top:0px; width:100%;right:105%;}
	#screenBox {position:absolute;top:80px; width:100%;right:105%;}
}

.video-box {
	height:200px;
	border:solid 1px lightgrey;
}

video {
	height: 100%;
	width: 100%;
}